@charset "utf-8";

.container{
    /* width: 500px; */
    height: 200px;
    border: 1px solid #000;
}

.container.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;    
 }

.conatainer.column{
    display: flex;
    flex-direction: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}


.item1{
    border: 3px solid #f00;
    flex-grow: 1;
}

.item2{
    border: 3px solid #00f;
    flex-grow: 2;
}

.item3{
    border: 3px solid #0f0;
    flex-grow: 1;
}