<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>mysite</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../assets/css/board_edit.css">
</head>
<body>
    <div id="wrap">
        <!--header-->
        <header class="clearfix">
            <h1>Mysite</h1>
            <ul class="clearfix">
                <a href="../user/login.html"><li>로그인</li></a>
                <a href="../user/sign_up.html"><li>회원가입</li></a>
            </ul>
        </header>
        <!--/header-->
        <!--nav-->
        <nav>
            <ul class="clearfix">
                <a href=""><li>입사지원서</li></a>
                <a href="../board/borad.html"><li>게시판</li></a>
                <a href="../gallery/gallery.html"><li>갤러리</li></a>
                <a href="../guestbook/guestbook.html"><li>방명록</li></a>
            </ul>
        </nav>
        <!--/nav-->
        <!--content-->
        <div id="content2" class="clearfix">
            <aside>
                <h2>게시판</h2>
                <ul id="" class="clearfix">
                    <a href="../board/borad.html"><li>일반게시판</li></a>
                    <a href=""><li>댓글게시판</li></a>
                </ul>
            </aside>

            <main>
                <div class="path-box clearfix">
                    <h3>일반게시판</h3>
                    <ol class="clearfix">
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>
                </div>
                <div id="post-info">
                    <div>
                        <label>작성자</label>
                        <span>정우성</span>
                    </div>
                    <div>
                        <label>조회수</label>
                        <span>123</span>
                    </div>
                    <div>
                        <label>작성일</label>
                        <span>2020-03-02</span>
                    </div>
                    <div>
                        <label for="post-title">제 목</label>
                        <input id="post-title" type="text" value="여기에는 글제목이 출력됩니다.">
                    </div>
                </div>
                <div id="textarea-box">
                    <textarea></textarea>
                </div>
                <div class="clearfix">
                    <div id="post-btn">
                        <a href="">수정</a>
                        <a href="../board/borad_post.html">취소</a>
                    </div>
                </div>
            </main>
        </div>
        <!--/content-->
        <footer>
            <p>Copyright ⓒ 2025 최현범. All right reserved</p>
        </footer>
</body>
</html>