<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>mysite</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../assets/css/board.css">
</head>
<body>
    <div id="wrap">
        <!--header-->
        <header class="clearfix">
            <h1>Mysite</h1>
            <ul class="clearfix">
                <a href="../user/login.html"><li>로그인</li></a>
                <a href="../user/sign_up.html"><li>회원가입</li></a>
            </ul>
        </header>
        <!--/header-->
        <!--nav-->
        <nav>
            <ul class="clearfix">
                <a href=""><li>입사지원서</li></a>
                <a href="../board/borad.html"><li>게시판</li></a>
                <a href="../gallery/gallery.html"><li>갤러리</li></a>
                <a href="../guestbook/guestbook.html"><li>방명록</li></a>
            </ul>
        </nav>
        <!--/nav-->
        <!--content-->
        <div id="content2" class="clearfix">
            <aside>
                <h2>게시판</h2>
                <ul id="" class="clearfix">
                    <a href="../board/borad.html"><li>일반게시판</li></a>
                    <a href=""><li>댓글게시판</li></a>
                </ul>
            </aside>

            <main>
                <div class="path-box clearfix">
                    <h3>일반게시판</h3>
                    <ol class="clearfix">
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>
                </div>
                <div id="board" class="clearfix">
                    <div id="search-box" class="clearfix">
                        <div id="button-box">
                            <input id="search-btn" type="text" name="search-btn">
                            <button type="menu">검색</button>
                        </div>
                    </div>
                    <table>
                        <colgroup>
                            <col style="width: 100px;">
                            <col style="width: 500px;">
                            <col style="width: 100px;">
                            <col style="width: 100px;">
                            <col style="width: 100px;">
                            <col style="width: 100px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>글쓴이</th>
                                <th>조회수</th>
                                <th>작성일</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>123</td>
                                <td><a href="../board/borad_post.html">게시판 게시글입니다.</a></td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>ddddddd</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td><a href="../board/borad_post.html">게시판 게시글입니다.</a></td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>ddddddd</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td><a href="../board/borad_post.html">게시판 게시글입니다.</a></td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>ddddddd</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td><a href="../board/borad_post.html">게시판 게시글입니다.</a></td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>ddddddd</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td><a href="../board/borad_post.html">게시판 게시글입니다.</a></td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>ddddddd</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr class="bottom-solid">
                                <td>123</td>
                                <td><a href="../board/borad_post.html">게시판 게시글입니다.</a></td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>ddddddd</td>
                                <td>[삭제]</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div id="post-btn">
                            <a href="">글쓰기</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!--/content-->
        <footer>
            <p>Copyright ⓒ 2025 최현범. All right reserved</p>
        </footer>
</body>
</html>