<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
</head>
<body>
    <div id="wrap">
        
        <header class="clearfix">
                <h1>Mysite</h1>
                    
                <ul class="clearfix">
                    <li>로그인</li>
                    <li>회원가입</li>
                </ul>
        </header>
        
        <nav>
            <ul class="clearfix">
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li>방명록</li>
            </ul>
        </nav>
        
        <div id="content2" class="clearfix">
            <aside> 
                <h2>게시판</h2>
                
                <ul>
                    <li>일반게시판</li>
                    <li>댓글게시판</li>
                </ul>   
            </aside>

            <main>
                <div class="path-box">
                    <h3> 일반게시판 </h3>
                    <ol>
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>
                </div>
            </main> 
           
        </div>    
        
        <footer>
            <p>Copyright ⓒ2025 박시현. All right reserved</p>
        </footer>
    </div>
</body>
</html>