<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> account</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/account.css">
</head>
<body>
    <!--컨테이너 시작-->
    <div id="wrap">

        <!--Header-->
        <header id="header" class="clearfix">
            <!--대제목-->
            <h1><a href="./index.html">MySite</a></h1>

            <!--로그인 회원가입-->
            <ul>
                <li><a href="./login.html">로그인</a></li>
                <li><a href="./account.html">회원가입</a></li>
            </ul>
        </header>

        <!--nav-->
        <nav id="nav">
            <ul  class="clearfix">
                <a href=""><li>입사지원서</li></a>
                <a href="./list.html"><li>게시판</li></a>
                <a href="./gallery.html"><li>갤러리</li></a>
                <a href="./guestbook.html"><li>방명록</li></a>
            </ul>
        </nav>
        <!--content-->
        <div id="content2" class="clearfix">
            <!--aside-->
            <aside>
                <!--h2정보-->
                <h2>회원</h2>
                
                <ul>
                    <a href="./information.html"><li>회원정보</li></a>
                    <a href="./login.html"><li>로그인</li></a>
                    <a href="./account.html"><li>회원가입</li></a>
                </ul>
            </aside>
            <!--main-->
            <main class="clearfix">
                <!--h3 정보-->
                <h3>회원가입</h3>

                <ol>
                <li>홈</li>
                <li>회원</li>
                <li>회원가입</li>
                </ol>
            </main>

            <!--폼 태그-->
            <form>
              <div id="profile">
                <div>아이디</div>
                <div>패스워드</div>
                <div>이름</div>
                <div>성별</div>
                <div>약관동의</div>
              </div>

              <div class="account-set clearfix">
                <div class="form-id">
                  <input type="text" placeholder="아이디를 입력하세요" required>
                  <button type="submit">중복체크</button>
                </div>
                <input type="password" placeholder="비밀번호를 입력하세요" required>
                <input type="text" placeholder="이름을 입력하세요" required>
                <div class="form-radio">
                  <label for="M">남</label>
                  <input id="M" type="radio" name="sex">
                  <label for="W">여</label>
                  <input id="W" type="radio" name="sex">
                </div>
                <input id="yes" type="checkbox">
                <label for="yes">서비스 약관에 동의합니다.</label>
              </div>

              <div id="new-account">
                <button type="submit">회원가입</button>
              </div>
            </form>
        </div>
        <!--footer-->
        <footer id="footer">
            <p>Copyright ⓒ2025 김준홍. All right reserved</p>
        </footer>

    <!--컨테이너 끝-->
    </div>
</body>
</html>