<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> gallery</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/gallery.css">
</head>
<body>
    <!--컨테이너 시작-->
    <div id="wrap">

        <!--Header-->
        <header id="header" class="clearfix">
            <!--대제목-->
            <h1><a href="./index.html">MySite</a></h1>

            <!--로그인 회원가입-->
            <ul>
                <li><a href="./login.html">로그인</a></li>
                <li><a href="./account.html">회원가입</a></li>
            </ul>
        </header>

        <!--nav-->
        <nav id="nav">
            <ul  class="clearfix">
                <a href=""><li>입사지원서</li></a>
                <a href="./list.html"><li>게시판</li></a>
                <a href="./gallery.html"><li>갤러리</li></a>
                <a href="./guestbook.html"><li>방명록</li></a>
            </ul>
        </nav>
        <!--content-->
        <div id="content2" class="clearfix">
          <!--aside-->
          <aside>
            <!--h2정보-->
            <h2>갤러리</h2>
                
            <ul>
              <a href="./gallery.html"><li>일반갤러리</li></a>
              <a href="#"><li>파일첨부연습</li></a>
            </ul>
          </aside>
            <!--main-->
          <main class="clearfix">
            <!--h3 정보-->
            <h3>일반갤러리</h3>

            <ol>
              <li>홈</li>
              <li>갤러리</li>
              <li>일반갤러리</li>
              </ol>
          </main>
          <!--파일첨부-->
          <div class="ptmain clearfix">
            <div class="photo-div ">
              <label for="ptfile">이미지올리기</label>
              <input id="ptfile" type="file" value="이미지올리기">
            </div>
          </div>
          <!--이미지 등록-->
          <div class="img-box clearfix">
            <ul class="clearfix">
              <li>
                <a href="">
                  <img src="../../image/Gangho-dong.jpg" alt="강호동" class="Gangho-dong" >
                  <span>작성자: 유재석</span>
                </a>
              </li>

              <li>
                <a href="">
                  <img src="../../image/Jeongjae-Lee.jpg" alt="이정재" class="Jeongjae-Lee">
                  <span>작성자: 유재석</span>
                </a>
              </li>

              <li>
                <a href="">
                  <img src="../../image/JeonSoMin.jpg" alt="전소민" class="JeonSoMin">
                  <span>작성자: 유재석</span>
                </a>
              </li>

              <li>
                <a href="">
                  <img src="../../image/JiseokJin.jpg" alt="지석진" class="JiseokJin">
                  <span>작성자: 유재석</span>
                </a>
              </li>

              <li>
                <a href="">
                  <img src="../../image/JungWooSung.jpg" alt="정우성" class="JungWooSung">
                  <span>작성자: 유재석</span>
                </a>
              </li>
            </ul>
          </div>
        <!--footer-->
      <footer id="footer">
          <p>Copyright ⓒ2025 김준홍. All right reserved</p>
      </footer>
    
    <!--컨테이너 끝-->
    </div>
</body>
</html>