<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Site</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/reset.css">
</head>
<body>
    <!--컨테이너 시작-->
    <div id="wrap">

        <!--Header-->
        <header id="header" class="clearfix">
            <!--대제목-->
            <h1><a href="./index.html">MySite</a></h1>

            <!--로그인 회원가입-->
            <ul>
                <li><a href="./login.html">로그인</a></li>
                <li><a href="./account.html">회원가입</a></li>
            </ul>
        </header>

        <!--nav-->
        <nav id="nav">
            <ul  class="clearfix">
                <a href=""><li>입사지원서</li></a>
                <a href="./list.html"><li>게시판</li></a>
                <a href="./gallery.html"><li>갤러리</li></a>
                <a href="./guestbook.html"><li>방명록</li></a>
            </ul>
        </nav>

        <!--content-->
        <div id="content" class="clearfix">

            <!--이미지-->
            <img id="profile" src="../../image/cute-cool-boy.avif" alt="내 이미지">

            <!--p문단 소개-->
            <div id="greetig-box">
                <p class="greetig-bold">
                안녕하세요!!<br>
                김준홍 Mysite에 오신 것을 환영합니다.<br>
                <br>
                이 사이트는 웹 프로그래밍 실습과제 예제 사이트입니다.<br>
                </p>
                <p class="greetig-sub">
                사이트소개, 회원가입, 방명록, 게시판으로 구성되어 있으며<br>
                jsp/servlet(모델2) 방식으로 제작되었습니다.<br>
                <br>
                자바 수업 + 데이터베이스 수업 + 웹 프로그래밍 수업<br>
                배운거 있는거 없는거 다 합쳐서 만들어 놓은 사이트 입니다.<br>
                <br>
                (자유롭게 꾸며보세요)<br>
                <br>
                </p>

                <!--방명록-->
                <a href="./guestbook.html">[방명록에 글 남기기]</a>
                
            </div>
        </div>

        <!--footer-->
        <footer id="footer">
            <p>Copyright ⓒ2025 김준홍. All right reserved</p>
        </footer>

    <!--컨테이너 끝-->
    </div>
</body>
</html>