<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/login.css">
</head>
<body>
    <!--컨테이너 시작-->
    <div id="wrap">

        <!--Header-->
        <header id="header" class="clearfix">
            <!--대제목-->
            <h1><a href="./index.html">MySite</a></h1>

            <!--로그인 회원가입-->
            <ul>
                <li><a href="./login.html">로그인</a></li>
                <li><a href="./account.html">회원가입</a></li>
            </ul>
        </header>

        <!--nav-->
        <nav id="nav">
            <ul  class="clearfix">
                <a href=""><li>입사지원서</li></a>
                <a href="./list.html"><li>게시판</li></a>
                <a href="./gallery.html"><li>갤러리</li></a>
                <a href="./guestbook.html"><li>방명록</li></a>
            </ul>
        </nav>
        <!--content-->
        <div id="content2" class="clearfix">
          <!--aside-->
          <aside>
            <!--h2정보-->
            <h2>회원</h2>
                
            <ul>
              <a href="./information.html"><li>회원정보</li></a>
              <a href="./login.html"><li>로그인</li></a>
              <a href="./account.html"><li>회원가입</li></a>
            </ul>
          </aside>
            <!--main-->
          <main class="clearfix">
            <!--h3 정보-->
            <h3>로그인</h3>

            <ol>
              <li>홈</li>
              <li>회원</li>
              <li>로그인</li>
              </ol>
          </main>
          <!--폼태그-->
          <form>
              <div class="userid">
                <span>아이디</span>
                <span><input type="text" placeholder="아이디를 입력하세요" required></span>
              </div>
              <div class="userpw">
                <span>비밀번호</span>
                <span><input type="password" placeholder="비밀번호를 입력하세요"required></span>
              </div>
              <span>
                <button type="submit">로그인</button>
              </span>
              
          </form>
        </div>

      
        <!--footer-->
      <footer id="footer">
          <p>Copyright ⓒ2025 김준홍. All right reserved</p>
      </footer>
    
    <!--컨테이너 끝-->
    </div>
</body>
</html>