@charset "utf-8";

.pad-left{
    padding: 0px 10px 0px 10px;
}
/* 이름의 길이가 다르면 중간 정렬이 애매할 ㅅ */


.txt-adj{
    margin-left: 10px;
}

.txt-adj2{
    padding: 5px 0px;
}

.txt-adj3{
    padding-left: 10px;
}

textarea{
    /* box-sizing: 800px; */
    width:750px;
    height: 300px;
    margin: 5px 5px 5px 20px;
}

.btn-pad{
    padding: 0px 350px;
}

.btn-spc{
    width: 80px;
}