<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>mysite</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../assets/css/gallery.css">
</head>
<body>
    <div id="wrap">
        <!--header-->
        <header class="clearfix">
            <h1>Mysite</h1>
            <ul class="clearfix">
                <a href="../user/login.html"><li>로그인</li></a>
                <a href="../user/sign_up.html"><li>회원가입</li></a>
            </ul>
        </header>
        <!--/header-->
        <!--nav-->
        <nav>
            <ul class="clearfix">
                <a href=""><li>입사지원서</li></a>
                <a href="../board/borad.html"><li>게시판</li></a>
                <a href="../gallery/gallery.html"><li>갤러리</li></a>
                <a href="../guestbook/guestbook.html"><li>방명록</li></a>
            </ul>
        </nav>
        <!--/nav-->
        <!--content-->
        <div id="content2" class="clearfix">
            <aside>
                <h2>갤러리</h2>
                <ul id="" class="clearfix">
                    <a href="../gallery/gallery.html"><li>일반갤러리</li></a>
                    <a href=""><li>파일첨부연습</li></a>
                </ul>
            </aside>

            <main>
                <div class="path-box clearfix">
                    <h3>일반갤러리</h3>
                    <ol class="clearfix">
                        <li>홈</li>
                        <li>갤러리</li>
                        <li>일반갤러리</li>
                    </ol>
                </div>
                <div id="upload-img" class="clearfix">
                    <label for="upload-file">이미지올리기</label>
                    <input id="upload-file" type="file" class="hidden">
                </div>
                <div id="gallery" class="clearfix">
                    <ul>
                        <li><img src="../../assets/images/Gangho-dong.jpg" alt=""></li>
                        <li>작성자 : 유재석</li>
                    </ul>
                    <ul>
                        <li><img src="../../assets/images/Jeongjae-Lee.jpg" alt=""></li>
                        <li>작성자 : 유재석</li>
                    </ul>
                    <ul>
                        <li><img src="../../assets/images/JeonSoMin.jpg" alt=""></li>
                        <li>작성자 : 유재석</li>
                    </ul>
                    <ul>
                        <li><img src="../../assets/images/JiseokJin.jpg" alt=""></li>
                        <li>작성자 : 유재석</li>
                    </ul>
                    <ul>
                        <li><img src="../../assets/images/JungWooSung.jpg" alt=""></li>
                        <li>작성자 : 유재석</li>
                    </ul>
                </div>
            </main>
        </div>
        <!--/content-->
        <footer>
            <p>Copyright ⓒ 2025 최현범. All right reserved</p>
        </footer>
    </div>
</body>
</html>