@charset "UTF-8";

/* board post */
main>#post-info{
    border-bottom: 2px solid #c0c0c0;
    padding: 20px 0;
}
main>#post-info>div{
    padding: 7px 0;
}
main>#post-info>div>label{
    display: inline-block;
    width: 60px;
}
main>#post-info>div>span{
    font-weight: bold;
}
main>#post-txt{
    border-bottom: 2px solid #c0c0c0;
    padding: 10px;
}
main>div>#post-btn{
    float: right;
    padding: 12px 0;
}
main>div>#post-btn>a{
    background-color: #dddddd;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    box-shadow: 1px;
    margin-left: 5px;
    padding: 4px 24px;
}
/* /board post */
