#content #profile{
    float: left;
    width: 300px;
    margin-right: 20px;
}

#content #greeting-box{
    float: left;
    width: 600px;
}

#content #greeting-box .greeting{
    font-weight: bold;
    font-size: 20px;    

}


/* 프로필 컨텐츠만 관련하여 작성*/
